@import 'https://fonts.googleapis.com/css?family=Raleway';

body
{
    background: #EEE;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#app
{
    background: #FFF;
    margin: 3rem auto;
    padding: 3rem;
    width: 70%;
}